@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Poppins", sans-serif; /* "Poppins" en minuscules */
}

h1 {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.articles-image {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
}

.avatar {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 100%;
}

#avatar {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 16px; /* Combinaison de padding */
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    color: black;
}

ul.ul-articles {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 15px;
    margin: 0;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    display: flex;
    align-items: center;
}

.hero-header {
    padding-bottom: 16px;
    position: relative;
}

.background-hero {
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.button-plus {
    border-radius: 4px;
    text-decoration: none;
    background: white;
    border: 2px solid white;
    justify-content: center;
    gap: 20px;
    width: 240px;
    height: auto;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px; /* Combinaison de padding */
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.button-plus:hover {
    background-color: #0B709F;
    color: white;
}

.subscribe-button {
    /* Correction de la classe */
    border-radius: 4px;
    text-decoration: none;
    padding: 8px; /* Correction de la propriété */
    background: #0B709F;
    border: 2px solid #0B709F;
    justify-content: center;
    gap: 20px;
    width: 240px;
    height: auto;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover {
    color: white;
}

#blue a {
    color: black;
    transition: color 0.3s ease;
}

#blue a:hover {
    color: #0B709F;
}

h2 {
    font-weight: bold;
    margin: 0;
}

h4 {
    margin: 0;
}

.articles {
    display: flex;
    align-items: center;
    padding: 35px;
}

.texte-articles {
    padding-left: 10px;
}

.image-zoom {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    padding: 20px;
    transition: transform 0.3s ease;
}

.image-zoom:hover {
    transform: scale(1.2);
}

.prenom {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    text-align: center;
}

#prenom {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-around;
    padding: 10px;
}

.themes {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    text-align: center;
}

#themes {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-around;
}

.back-themes {
    background-color: black;
    color: white;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}

main {
    padding: 10px;
}

.button-lire {
    border-radius: 4px;
    text-decoration: none;
    padding: 8px;
    background: #0B709F;
    border: 2px solid #0B709F;
    justify-content: center;
    gap: 20px;
    width: 100px;
    height: auto;
    display: flex;
    align-items: center; /* Ajout d'un point-virgule */
    transition: transform 0.9s ease;
}

.button-lire:hover {
    transform: scale(1.2);
}
